misc-notebooks/tensorflow/logs/fit/20220923-024829/events.out.tfevents.1663881577.ANUBIS.profile-empty
misc-notebooks/tensorflow/logs/fit/20220923-024829/projector_config.pbtxt
misc-notebooks/tensorflow/logs/fit/20220923-024829/plugins/profile/2022_09_22_21_19_37/ANUBIS.input_pipeline.pb
misc-notebooks/tensorflow/logs/fit/20220923-024829/plugins/profile/2022_09_22_21_19_37/ANUBIS.kernel_stats.pb
misc-notebooks/tensorflow/logs/fit/20220923-024829/plugins/profile/2022_09_22_21_19_37/ANUBIS.memory_profile.json.gz
misc-notebooks/tensorflow/logs/fit/20220923-024829/plugins/profile/2022_09_22_21_19_37/ANUBIS.overview_page.pb
misc-notebooks/tensorflow/logs/fit/20220923-024829/plugins/profile/2022_09_22_21_19_37/ANUBIS.tensorflow_stats.pb
misc-notebooks/tensorflow/logs/fit/20220923-024829/plugins/profile/2022_09_22_21_19_37/ANUBIS.trace.json.gz
misc-notebooks/tensorflow/logs/fit/20220923-024829/plugins/profile/2022_09_22_21_19_37/ANUBIS.xplane.pb
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/checkpoint
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/events.out.tfevents.1663881576.ANUBIS.13788.0.v2
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-0.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-0.index
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-1.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-1.index
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-2.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-2.index
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-3.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-3.index
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-4.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-4.index
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-5.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-5.index
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-6.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-6.index
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-7.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-7.index
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-8.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-8.index
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-9.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-024829/train/keras_embedding.ckpt-9.index
misc-notebooks/tensorflow/logs/fit/20220923-024829/validation/events.out.tfevents.1663881583.ANUBIS.13788.1.v2
misc-notebooks/tensorflow/logs/fit/20220923-030848/events.out.tfevents.1663882728.ANUBIS.profile-empty
misc-notebooks/tensorflow/logs/fit/20220923-030848/projector_config.pbtxt
misc-notebooks/tensorflow/logs/fit/20220923-030848/plugins/profile/2022_09_22_21_38_48/ANUBIS.input_pipeline.pb
misc-notebooks/tensorflow/logs/fit/20220923-030848/plugins/profile/2022_09_22_21_38_48/ANUBIS.kernel_stats.pb
misc-notebooks/tensorflow/logs/fit/20220923-030848/plugins/profile/2022_09_22_21_38_48/ANUBIS.memory_profile.json.gz
misc-notebooks/tensorflow/logs/fit/20220923-030848/plugins/profile/2022_09_22_21_38_48/ANUBIS.overview_page.pb
misc-notebooks/tensorflow/logs/fit/20220923-030848/plugins/profile/2022_09_22_21_38_48/ANUBIS.tensorflow_stats.pb
misc-notebooks/tensorflow/logs/fit/20220923-030848/plugins/profile/2022_09_22_21_38_48/ANUBIS.trace.json.gz
misc-notebooks/tensorflow/logs/fit/20220923-030848/plugins/profile/2022_09_22_21_38_48/ANUBIS.xplane.pb
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/checkpoint
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/events.out.tfevents.1663882728.ANUBIS.3184.0.v2
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-0.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-0.index
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-1.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-1.index
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-2.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-2.index
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-3.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-3.index
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-4.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-4.index
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-5.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-5.index
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-6.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-6.index
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-7.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-7.index
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-8.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-8.index
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-9.data-00000-of-00001
misc-notebooks/tensorflow/logs/fit/20220923-030848/train/keras_embedding.ckpt-9.index
misc-notebooks/tensorflow/logs/fit/20220923-030848/validation/events.out.tfevents.1663882735.ANUBIS.3184.1.v2
